:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --showcase-color: rgba(13, 110, 139, 0.6);
    --seconday-color: rgba(13, 110, 139, 0.05);
    --secondary-color: rgba(13, 110, 139, 0.2);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
    --footer-background: rgb(24, 40, 52);
    --credits-background: rgb(43, 64, 80);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
}


.showcase {
    background: linear-gradient(to bottom, var(--footer-background), var(--showcase-color));
    color: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
    /* height: 100vh; */
    position: relative;
}

.showcase:before {
    content: '';
    background: url('../img/showcase2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
    width: 95%;
}


.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}


.countdownContainer {
    /* border: 1px solid #f4f4f4; */
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

}

.countdownContainerBody {
    display: flex;
    flex-wrap: wrap;
}

.countdownBox {
    /* border: 1px solid #f4f4f4; */
    margin: 0 0.5rem;
    padding: 0.2rem;
    text-align: center;
}


.countdownBox h1 {
    /* max-width: 4rem; */
    background: none;
    border: none;
    text-align: center;
    color: #f4f4f4;
    transition: 0.5 ease;
}


div>span {
    display: block;
    font-size: 0.8rem;
    text-align: center;
}



.eventQR {
    margin-top: 1rem;
    background-color: var(--showcase-color);
    border-radius: 5px;
    padding: 0.2rem;
}

.eventQR img {
    width: 80px;
}

.eventQR a {
    text-decoration: none;
    color: #f4f4f4;
}

.welcome {
    background-color: #f4f4f4;
    font-weight: 200;
}

.directivos-container {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comite-container {
    width: 100%;
    padding: 1.5rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.comite-container-cargo {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.verComisiones {
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
}

.verComisiones a {
    text-decoration: none;
    color: var(--overlay-color);
}

.verComisiones a:hover {
    color: var(--primary-color)
}



.oradores {
    background-color: #f4f4f4;
    text-align: center;
}

.oradores-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.oradores-card {
    width: 250px;
    height: 300px;
    padding: 2rem;
    border: 1px solid #e2e2e2;
    transition: 0.5s; 
}

.oradores-card:hover {
    box-shadow: 2px 2px 5px 1px var(--primary-color);
    /* border: 1px solid var(--overlay-color); */
    /* transform: scale(1.02); */
}


.oradores-card .card-header {}


.oradores-card .card-body {}


.oradores-card .card-body img {
    width: 150px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    /* box-shadow: 2px 2px 5px 1px var(--primary-color); */

}


.oradores-card .card-footer {}


.conferencias {
    background-color: #f4f4f4;
    text-align: center;
}

.conferencias-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.conferencia-card {
    width: 35%;
    margin: 0 1rem 2rem 1rem;
    /* border: 1px solid var(--primary-color); */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 1px rgba(24, 39, 51, 0.8);
}

.conferencia-card .card-header {}

.conferencia-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 150px;
}

.conferencia-card .card-body .title {
    padding: 2rem 1rem 0.5rem 1rem;
}

.conferencia-card .card-body .name {
    padding: 0 1rem 2rem 1rem;
    color: var(--footer-primary);
    font-size: 0.9rem;
    text-align: center;
}

.conferencia-card .card-footer {
    padding: 1rem;
    color: #f4f4f4;
    background-color: var(--primary-color);
    text-align: center;
}


/*****************************
 Font size and weigth 
**************************** */

.showcase h2 {
    /* font-family: 'Noto Serif Khmer', serif; */
    font-weight: 700;
}


.showcase h2 {
    /* font-size: 3.5rem; */
    font-size: calc(2rem + 1.5vw);
}

.showcase h3 {
    font-weight: 400;
    font-size: calc(1rem + 1vw);
}

.showcase p {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}

.showcase .btn {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s ease;
}

.showcase .btn:hover {
    background-color: rgba(255, 255, 255, 0.35);

}


.eventDates,
.eventLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f4f4f4;
    margin-top: 1rem;

}


/* Showcase Social Media */
.showcaseSocial {
    width: 30vw;
    margin-top: 3rem;
    display: none;
}

.showcaseSocial .fa-youtube,
.showcase .fa-instagram {
    color: #f4f4f4;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

.material-symbols-outlined {
    margin-right: 1rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}




/* **********************************************
                POPUP
********************************************** */
.alertAranceles {
    background-color: var(--overlay-color);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.alertContainer {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--overlay-color);
}

.alertContainerClose:hover {
    cursor: pointer;
    opacity: 0.8;
}

.alertContainerHeader {
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 1rem;

}

#alertContainerCloseAranceles {
    grid-row: 1;
    grid-column: 12;
    justify-self: end;
    align-self: center;
}

.material-symbols-outlined {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    font-size: 2rem;
}

.alertContainerHeader h1 {
    grid-row: 2;
    grid-column: 2 / span 10;
}

.fa-user-doctor {
    padding-right: 0.5rem;
}

.miniContainer {
    padding: 1rem;
}

.deadline {
    text-align: center;
    font-weight: 700;
}

.sepLine {
    margin: 2rem;
    border: 0.1rem solid var(--overlay-color);
}

.alertContainer ul {
    list-style: none;
}

.alertContainer ul li {
    padding: 0.5rem;
}


.alertAranceles .btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--overlay-color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--overlay-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.alertAranceles .btn:hover {
    background-color: var(--overlay-color);
    color: white;

}


/* ***************************************************
                        FOOTER
*******************************************************/

.footerContainer {
    width: 100%;
    background-color: var(--footer-background);

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}


.footerInnerContainer {
    background-color: var(--footer-background);
    color: #f4f4f4;
    max-width: 900px;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
}

.item1 {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item1 img {
    width: 100px;
    padding-right: 1rem;
}

.item1 h4 {
    font-weight: 400;
    font-size: 1.1rem;
}

.footerInnerContainer .item1 p {
    font-weight: 200;
    font-size: 0.9rem;
}

.footerInnerContainer .item2 {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}

.footerInnerContainer .item2Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item2Container .icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.item2Container .icons a {
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;
    margin: 0 1rem;
}

.item2Container .icons a:hover {
    opacity: 0.5;
}

.item2Container p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8)
}

.footerContainer .credits {
    width: 100%;
    background-color: var(--credits-background);
    font-size: 0.8rem;
    font-weight: 200;
    color: #f4f4f4;
    text-align: center;
    padding: 0.2rem;
}


/* **********************************************
                MEDIA QUERIES
********************************************** */

@media(max-width:778px) {

    .showcase {
        margin-top: 2rem;
        min-height: 100vh;
    }

    .alertAranceles .alertContainer {
        width: 90%;
    }

    .showcase .btnArea {
        display: flex;
        flex-direction: column;
    }

    .showcase .btn {
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }


    .eventQR {
        margin: 0;
    }

    .eventQR img {
        width: 100px;
    }

    .btnArea {
        /* padding-top: 1rem; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .comite-container-cargo {
        width: 100%
    }

    .conferencia-card {
        width: 100%;
    }

    .footerContainer {
        /* margin-bottom: 4rem; */
    }

    .footerInnerContainer {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    .footerInnerContainer .item1 {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footerInnerContainer .item2 {
        display: none;
    }
}

@media(max-width:576px) {

    .footerContainer {
        margin-bottom: 4rem;
    }

    .welcome-inner h2 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .welcome-inner h4 {
        font-size: 1.1rem;
        font-weight: 600;
    }


    .welcome-inner p {
        font-size: 0.9rem;
        /* font-weight: 600; */
    }

    .verComisiones a {
        font-size: 0.9rem;
    }

}