:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
    --footer-background: rgb(24, 40, 52);
    --credits-background: rgba(24, 39, 51, 0.9);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
}


.showcase {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.container {
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
    width: 95%;
}

.countdownContainer {
    /* border: 1px solid #f4f4f4; */
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

}

.countdownContainerBody {
    display: flex;
    flex-wrap: wrap;
}

.countdownBox {
    /* border: 1px solid #f4f4f4; */
    margin: 0 0.5rem;
    padding: 0.2rem;
    text-align: center;
}


.countdownBox h1 {
    /* max-width: 4rem; */
    background: none;
    border: none;
    text-align: center;
    color: #f4f4f4;
    transition: 0.5 ease;
}


div>span {
    display: block;
    font-size: 0.8rem;
    text-align: center;
}

/*****************************
 Font size and weigth 
**************************** */

.showcase h2 {
    /* font-family: 'Noto Serif Khmer', serif; */
    font-weight: 700;
}


.showcase h2 {
    /* font-size: 3.5rem; */
    font-size: calc(2rem + 1.5vw);
}

.showcase h3 {
    font-weight: 400;
}

.showcase p {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}

.showcase .btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s ease;

}

.showcase .btn:hover {
    background-color: rgba(255, 255, 255, 0.35);

}


.eventDates,
.eventLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f4f4f4;
    margin-top: 1rem;

}


/* Showcase Social Media */
.showcaseSocial {
    width: 30vw;
    margin-top: 3rem;
    display: none;
}

.showcaseSocial .fa-youtube,
.showcase .fa-instagram {
    color: #f4f4f4;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

.material-symbols-outlined {
    margin-right: 1rem;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}


/* ***************************************************
                        FOOTER
*******************************************************/

.footerContainer {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: var(--footer-background);
    color: #f4f4f4;
    padding: 1.5rem 1rem;
}


.footerInnerContainer {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
}

.item1 {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item1 img {
    width: 100px;
    padding-right: 1rem;
}

.item1 h4{
    font-weight: 400;
    font-size: 1.1rem;
}

.item1 p{
    font-weight: 200;
    font-size: 0.9rem;
}

.item2 {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}

.item2Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item2Container .icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.item2Container .icons a {
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;
    margin: 0 1rem;
}

.item2Container .icons a:hover {
    opacity: 0.5;
}

.item2Container p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8)
}

.credits {
    background-color: var(--credits-background);
    font-size: 0.8rem;
    font-weight: 200;
    color: #f4f4f4;
    text-align: center;
    padding: 0.2rem;
}

/* MEDIA QUERIES SM 576*/
@media(max-width: 576px) {


    .countdownContainer {
        /* margin: 0 auto;
    width: 90%; */
    }

}




/* **********************************************
                MEDIA QUERIES
********************************************** */

@media(max-width:576px) {
    .footerContainer {
        display: none;
    }

    .showcaseSocial {
        width: 30vw;
        margin-top: 3rem;
        display: inline-block;
    }

}